<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Data</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-white text-green-600">
    <div class="container mx-auto p-10 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-6">Welcome to MelodyCapsule!</h1>

        {% if user_info %}
            <h2 class="text-xl font-semibold mb-2">User Information:</h2>
            <p class="mb-4"><strong>Display Name:</strong> {{ user_info.display_name }}</p>
            {% if user_info.images %}
                <img src="{{ user_info.images[0].url }}" alt="Profile Picture" class="w-32 h-32 object-cover rounded-full mb-4">
            {% else %}
                <p>No profile picture available.</p>
            {% endif %}
        {% else %}
            <p class="mb-4">Failed to retrieve user information.</p>
        {% endif %}

        {% if devices %}
            <h2 class="text-xl font-semibold mb-2">Available Devices:</h2>
            <ul class="list-disc ml-6 mb-4">
                {% for device in devices %}
                    <li>{{ device.name }} - {{ device.type }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No devices available.</p>
        {% endif %}

        <h2 class="text-xl font-semibold mb-2">Navigate to:</h2>
        <ul class="list-disc ml-6 mb-4">
            <li><a href="/toptracks" class="text-green-600 hover:underline">Top Tracks</a></li>
            <li><a href="/topartists" class="text-green-600 hover:underline">Top Artists</a></li>
            <li><a href="/recentlyplayed" class="text-green-600 hover:underline">Recently Played Tracks</a></li>
            <li><a href="/playlist" class="text-green-600 hover:underline">Playlists</a></li>
        </ul>

        <!-- Logout button -->
        <form action="{{ url_for('logout') }}" method="get">
            <input type="submit" value="Logout" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
        </form>
    </div>
</body>

</html>
