<!DOCTYPE html>
<html>
<head>
    <title>Top Albums</title>
</head>
<body>
    <h1>Top Albums</h1>
    <div class="album-list">
        {% for album in albums_info %}
            <div class="album-card">
                {% if album.album_image_url %}
                    <img src="{{ album.album_image_url }}" alt="{{ album.album_name }}">
                {% endif %}
                <h2>{{ album.album_name }}</h2>
                <p>Artists: {{ album.artists }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
