<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-white text-green-600 p-10">
    <ul class="flex mb-10">
        <li class="mr-4 hover:text-white transition duration-300 ease-in-out hover:bg-green-500 px-2 py-1 rounded">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="mr-4 hover:text-white transition duration-300 ease-in-out hover:bg-green-500 px-2 py-1 rounded">
            <a href="/toptracks">Top Tracks</a>
        </li>
        <li class="mr-4 hover:text-white transition duration-300 ease-in-out hover:bg-green-500 px-2 py-1 rounded">
            <a href="/recentlyplayed">Recently Played</a>
        </li>
        <li class="hover:text-white transition duration-300 ease-in-out hover:bg-green-500 px-2 py-1 rounded">
            <a href="/playlist">My Playlists</a>
        </li>
    </ul>

    <!-- Logout button -->
    <form action="{{ url_for('logout') }}" method="get" class="mb-10">
        <input type="submit" value="Logout"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
    </form>

    <h1 class="text-2xl font-bold mb-4">Top Artists</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for artist in artists_info %}
        <div class="border p-4 rounded-lg">
            {% if artist.image_url %}
            <img src="{{ artist.image_url }}" alt="{{ artist.artist_name }}" class="max-w-full mb-2">
            {% endif %}
            <strong class="block mb-2">Artist Name:</strong> <a href="{{ artist.artist_link }}"
                class="text-green-500 hover:underline">{{ artist.artist_name }}</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>
